POSTGRES_PASSWORD=password_example
POSTGRES_USERNAME=username_example
POSTGRES_DATABASE=database_example
POSTGRES_DOCKER_PORT=5432
POSTGRES_LOCAL_PORT=1331
SPRING_DOCKER_PORT=8080
SPRING_LOCAL_PORT=6060
DEBUG_PORT=5005
TELEGRAM_BOT_TOKEN=bot_token_example
TELEGRAM_BOT_USERNAME=bot_username_example
SOL_SCAN_KEY=solscan_key_example
